numpy
setuptools
hdf5storage
h5py
py3nvml
pyinstrument
pandas
matplotlib
scikit-image
scikit-learn
matplotlib
seaborn
yellowbrick
plotly
jupyter
jupyterlab 
ipykernel 
ipywidgets
sentencepiece
beautifulsoup4
bertopic
contractions
dask
elasticsearch
emoji
farm-haystack
flair
nltk
spacy==3.4.4
spacy-transformers==1.1.9
textblob
wordcloud
fastapi
uvicorn
scipy
Pillow
imutils
pydot
imgaug
protobuf
torch
torchaudio
torchvision
tensorflow
tqdm
transformers


