numpy
setuptools
protobuf
hdf5storage
h5py
py3nvml
pyinstrument
jupyter
jupyterlab
pandas
scikit-image
scikit-learn
matplotlib
seaborn
yellowbrick
plotly
sentencepiece
beautifulsoup4
bertopic
hdbscan
contractions
elasticsearch
emoji
farm-haystack
flair
gensim
inflect
nltk
spacy
spacy-transformers
textblob
wordcloud
fastapi
uvicorn
scipy
Pillow
imutils
pydot
imgaug
torch
torchaudio
torchvision
tensorflow
tqdm
transformers
accelerate


