numpy
setuptools
hdf5storage
h5py
py3nvml
pyinstrument
pandas
matplotlib
scikit-image
scikit-learn
matplotlib
seaborn
yellowbrick
plotly
jupyter
jupyterlab 
ipykernel 
ipywidgets
bertopic
elasticsearch
farm-haystack
flair
nltk
spacy
spacy-transformers
textblob
wordcloud
fastapi
uvicorn
scipy
Pillow
imutils
pydot
imgaug
protobuf
torch
torchaudio
torchvision
tensorflow
tqdm
transformers


